$color-orange: #e98453;
$color-pink: #b45277;
$color-purple: #5e4e76;
$color-dark-gray: #8393aa;
$color-gray: #c9d3e0;
$color-light-gray: #f4f7fb;
$color-white: #fff;

$gradient-brand: linear-gradient(90deg, $color-orange, $color-pink);

$shadow-card: 0 0 2px 0 rgba(53, 65, 83, 0.12), 0 2px 4px 0 rgba(53, 65, 83, 0.12);
